# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_HYPERGOLIC_LEFT
	def_bool $(shields_list_contains,hypergolic_left)

config SHIELD_HYPERGOLIC_RIGHT
	def_bool $(shields_list_contains,hypergolic_right)
